<md-toolbar>
  <span>Lineal Search</span>
</md-toolbar>
<div class="content">
  <app-search-form (search)="onSearch($event)"></app-search-form>
  <div *ngIf="currentSearch">
    <div [hidden]="!isSearching">Searching...</div>
    <div [hidden]="!wasFound">Found! It was in {{this.pointer}} position.</div> 
    <div [hidden]="wasFound || isSearching">Not found!</div> 
    <div class="search-container">
      <div class="number" *ngFor="let number of currentSearch.array; let i = index"
        [class.selected]="i === pointer"
        [class.found]="wasFound && i === pointer">
        {{number}}
      </div>
    </div>
    <div>Comparing {{currentSearch.array[pointer]}} in position {{pointer}} === {{currentSearch.number}}</div>
  </div>
</div>